# Development dependencies.
pylint

# Tooling and general dependencies.
BeautifulSoup4
pandas
requests
markdownify
sentence-transformers

# Llama index stuff.
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-llms-openai
llama-index-llms-deepseek
llama-index-llms-anthropic

# HTTP stuff.
fastapi[standard]
uvicorn[standard]
jinja2
asyncio

# Discord bot.
discord.py
