# Development dependencies.
pylint

# General dependencies.
BeautifulSoup4
pandas
requests
markdownify

# Llama index stuff.
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama

# HTTP stuff.
fastapi[standard]
uvicorn[standard]
jinja2
asyncio

# Discord bot.
discord.py
